@import "../../styles/base/variables";
@import "../../styles/base/mixins";

.map-legend {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 50px 0;

  &__right-bg {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__left-bg {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__left-img {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    width: 50%;
    margin-left: 50px;

    &__title {
      h3 {
        font-family: $avenir-black;
        font-size: 35px;
        text-transform: uppercase;
        margin-bottom: 15px;
      }
    }

    &__text {
      font-family: $avenir-medium;
      font-size: 25px;
      line-height: 35px;
      margin-bottom: 35px;
    }

    &__legends {
      display: flex;
      flex-wrap: wrap;

      .legend {
        display: flex;
        width: 50%;
        align-items: center;
        margin-bottom: 25px;
        img {
          width: 50px;
        }
        span {
          font-family: $avenir-medium;
          font-size: 20px;
          margin-left: 25px;
        }
      }
    }
  }
}
